
:root {
  /* --bg-dark: #111418; */
  --bg-card: #1a1d23;
  --neon: #00ffbf;
  --text-main: #e8fdfd;
  --neon-dark: #00cc99;

}


body {
  background: #0d0f12;
  /* background: #a4a4a4; */
  /* background: #6d8196; */
  background: #2d2d2d;
  color: var(--text-main);
  font-family: Arial, sans-serif;
}

.fade-in {
  animation: fadeIn 0.4s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

a {
  text-decoration: none;
}


/* .neon-btn {
  border: 2px solid var(--neon);
  color: var(--neon);
  padding: 8px 18px;
  border-radius: 8px;
  transition: 0.25s;
} */

/* .neon-btn:hover {
  background: var(--neon);
  color: #000;
  box-shadow: 0 0 10px var(--neon);
} */

/* .neon-btn {
  background: rgba(0,255,191,0.18);
  border: 2px solid var(--neon);
  color: var(--neon);
  font-weight: 600;
} */

.neon-btn {
  background: rgba(0,255,191,0.18);
  border: 2px solid var(--neon);
  color: var(--neon-dark);
  padding: 8px 18px;
  border-radius: 8px;
  font-weight: 600;
  transition: 0.25s;
}

.neon-btn:hover {
  background: var(--neon-dark);
  color: #000;
  transform: scale(1.04);
  box-shadow: 0 0 20px var(--neon);
}

.card {
  /* background-color: #111; */
  background: var(--bg-card);
  color: #fff;
  border: 1px solid rgba(255, 0, 72, 0.8);
  /* border: 1px solid rgba(-0,255,191,0.4); */
  border-radius: 10px;
  padding: 12px;
  transition: 0.25s;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 0 15px rgba(0,255,191,0.4);
}

/* Accent Neon Border */
.accent-box {
  border: 2px solid rgba(255, 0, 72, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 0, 72, 0.5);
}

footer {
  border-top: 2px solid rgba(-0,255,191,0.4);
  box-shadow: 0 0 12px rgba(255, 0, 72, 0.5);
  /* background: #1a1d23; */
  /* unicode-bidi: isolate; */
    /* position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #111418;
  color: white;
  padding: 1rem; */
}

.navbar {
  border-top: 2px solid rgba(-0,255,191,0.4);
  box-shadow: 0 0 12px rgba(255, 0, 72, 0.5);
  background: #111418;
  /* unicode-bidi: isolate; */
}

.gistrong-icon {
  margin-top: 20px;
  width: 100px;
  height: 100px;
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

.rgb {
  --angle: 0deg;
  position: relative;
  padding: 30px;
  border-radius: 10px;
  /* background-color: #1a1a1a; */
  background-color: #1a1d23;
  color: white;
  text-align: center;
  width: 80%;
  margin: 20px auto;
  z-index: 0;
}

.rgb::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px;
  border-radius: inherit;
  background: conic-gradient(
    from var(--angle),
    red,
    yellow,
    lime,
    aqua,
    blue,
    magenta,
    red
  );
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
  animation: rotate-border 10s linear infinite;
  z-index: -1;
}

@keyframes rotate-border {
  to {
    --angle: 360deg;
  }
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  /* padding-top: 20px; */
}

.text-neon {
  color: var(--neon);
}