name: Deploy Frontend
on:
  push:
    branches: [ main ]

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: "20"

      - name: Install frontend deps
        run: npm install
        working-directory: ./streetworkouthub

      - name: Build frontend
        run: npm run build
        working-directory: ./streetworkouthub

      - name: Deploy to Firebase PREVIEW
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: "${{ secrets.GITHUB_TOKEN }}"
          firebaseServiceAccount: "${{ secrets.FIREBASE_SERVICE_ACCOUNT }}"
          channelId: "preview-main"
          projectId: "streetworkouthub-56aac"
          entryPoint: "./"
      
      - name: Deploy to Firebase LIVE
        uses: FirebaseExtended/action-hosting-deploy@v1
        with:
          repoToken: "${{ secrets.GITHUB_TOKEN }}"
          firebaseServiceAccount: "${{ secrets.FIREBASE_SERVICE_ACCOUNT }}"
          projectId: "streetworkouthub-56aac"
          entryPoint: "./"
